body {
  background: #1aa2cd;
  color: #f3ecec;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  color: #d3da70; 
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
img {
  display: block;
  width: 200px;
}
